@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

#questioncard {
  padding: 10px;
}

#cardbody {
  border-radius: 15px;

  background-image: linear-gradient(315deg, #7f53ac 0%, #7f53ac 74%);
}

.customCard {
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  box-shadow: none !important;
  border-radius: 15px !important;
  font-family: "Poppins", sans-serif;
}

.asker {
  margin-left: 10px;
  border-radius: 50%;
}

#ansicon {
  margin-right: 5px;
}

#tags {
  font-size: 10px;
}

#quesSubTitle {
  font-family: "Poppins", sans-serif;
}
.upvote:hover {
  cursor: pointer;
  color: yellowgreen;
}

.downvote:hover {
  cursor: pointer;
  color: pink;
}

#answercard {
  padding: 10px;
}

.clickable-paragraph:hover {
  text-decoration: underline;
}

.commentButton:hover {
  cursor: pointer;
  color: #364153;
}

.answererName:hover {
  cursor: pointer;
  text-decoration: underline;
}
#upvoteCount {
  font-family: "Poppins", sans-serif;
}

#showansicon:hover {
  cursor: pointer;
  color: #4285f4;
}

#wrapperanswer {
  text-align: left !important;
}

.questionCard:hover {
  cursor: pointer;
}
