#questioncard {
  padding: 10px;
}

#cardbody {
  background-color: #56768f;
  border: #707070;
  border-radius: 15px;
}

.customCard {
  background-color: #364153 !important;
  box-shadow: none !important;
}

.asker {
  margin-left: 10px;
  border-radius: 50%;
}

#ansicon {
  margin-right: 5px;
}

#tags {
  font-size: 10px;
}

#quesSubTitle {
  font-family: "Poppins", sans-serif;
}
.upvote:hover {
    cursor: pointer;
    color: yellowgreen;
}

.downvote:hover {
    cursor: pointer;
    color: pink;
}


#answercard{
    padding: 10px;
}

/* .clickable-paragraph:hover {
    text-decoration: underline;
    cursor: pointer;
} */

#cardbody:hover{
  cursor: pointer;
}

#cardbody:active{
  background-color: #4285f4;
}

.commentButton:hover{
  cursor: pointer;
  color: #364153;
}

.answererName:hover{
  cursor: pointer;
  text-decoration: underline;
}